module Creatures exposing
    ( ChosenCreature
    , Creature
    , CreatureType
    , Size
    , allCreatures
    , allCreaturesDict
    , allSizes
    , allTypes
    , allFamilies
    , typeToString
    , sizeToString
    )

import Dict exposing (Dict)


type CreatureType
    = {{ "\n|".join(creature_types) }}

type Size
    = Tiny
    | Small
    | Medium
    | Large
    | Huge
    | Gargantuan


type alias Creature =
    { name : String
    , level : Int
    , creatureType : CreatureType
    , family: String
    , size: Size
    , source : String
    }


type alias ChosenCreature =
    { creature : Creature
    , count : Int
    }


typeToString : CreatureType -> String
typeToString ct = 
  case ct of
    {% for type, name in creature_types.items() %}
    {{ type }} -> "{{ name }}"
    {% endfor %}

sizeToString : Size -> String
sizeToString size =
    case size of
        Tiny -> "Tiny"
        Small -> "Small"
        Medium -> "Medium"
        Large -> "Large"
        Huge -> "Huge"
        Gargantuan -> "Gargantuan"

allSizes : List Size
allSizes = [
    Tiny, Small, Medium, Large, Huge, Gargantuan
]

allTypes : List CreatureType
allTypes = [
    {{ ",\n".join(creature_types)}}
]

allFamilies : List String
allFamilies = [
    {{ ",\n".join(families) }}
]

allCreatures : List Creature
allCreatures =
    [{% for creature in creatures %}
{{ "," if not loop.first }}{ name="{{ creature.name }}", level={{ creature.level }}, creatureType={{ creature.type }}, source="{{ creature.url }}", family="{{ creature.family }}", size={{ creature.size }}}
{% endfor %}
    ]


allCreaturesDict : Dict String Creature
allCreaturesDict =
    List.map (\c -> ( c.name, c )) allCreatures |> Dict.fromList
